@import '../scss/abstract';

.page-viewer{
    flex: 1 1 100%;
    position: relative;
    @include for-mobile{
        width: 0;
    }
}

.page{
    flex: 1 1 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 60rem;
    height: 100%;

    transition: opacity var(--page-transition-speed) ease-in-out;

    @include for-mobile{
        position: fixed;
        left: 50%;
        top: 16%;
        transform: translateX(-50%);
        
        width: min(35rem,90%);
        max-width: initial;
        height: auto;
        
        background-color: var(--color-neutral-100);
        border-radius: var(--border-radius);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        padding: var(--spacing-5);
    }

    @include for-desktop{
        padding-top: 5rem;
    }
}

.hidden{
    opacity: 0;
    z-index: 1;
    pointer-events: none;
}

.visible{
    transition-delay: var(--page-transition-speed);
    opacity: 1;
    z-index: 2;
}