@import '../scss/abstract';

.page-viewer{
    flex: 1 1 100%;
    position: relative;
    width: 48rem; //2.25 times roughly of the page selector
    //height: 34.8rem; //roughly half of total width

    @include for-mobile{
        position: absolute;
        width: 100%;
        height: 100%;

        z-index: -1;
    }
}

:root{
    --page-transition-speed: .3s;
}

.page{
    flex: 1 1 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    transition: opacity var(--page-transition-speed) ease-in-out;

    @include for-mobile{
        left: 50%;
        top: 37%;
        transform: translate(-50%, -50%);
        
        width: min(35rem,90%);
        height: auto;
        
        background-color: var(--color-neutral-100);
        border-radius: var(--border-radius);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}

.hidden{
    opacity: 0;
}

.visible{
    transition-delay: var(--page-transition-speed);
    opacity: 1;
}