@import './scss/_abstract.scss';

.app-container{
    position: relative;
    width: 100vw;
    height: 100vh;

    @include for-desktop{
        display: flex;
        width: 80rem;
        height: 50rem;

        padding: var(--spacing-3);
        border-radius: var(--border-radius);

        background-color: var(--color-neutral-100);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}

@include for-desktop{
    .desktop-right-grouper{
        display: flex;
        flex-direction: column;
    }
}