:root{
    --font-size-large: 1.8rem;
    --font-size-normal: 1.6rem;

    --line-height-large: 2.8rem;
}

.font-height-larger{
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
}