.heading{
    font-size: 3.6rem;
    line-height: 4rem;
    color: var(--color-blue-400);
    font-weight: 700;
}

.font-height-larger{
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.subtitle{
    @extend .font-height-larger;    
    color: var(--color-neutral-400);
    font-weight: 500;
}