@import '../../scss/_abstract.scss';
@import '../../scss/typography';

.heading-box{
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-2);

    margin: var(--spacing-6) 0 var(--spacing-5) 0;

    @include for-mobile{
        margin: 0;
        margin-bottom: var(--spacing-2);
    }
}

.heading{
    font-size: 3.6rem;
    line-height: 4rem;
    @include for-mobile{
        font-size: 3.2rem;
        line-height: 3.2rem;
    }

    color: var(--color-blue-400);
    font-weight: 700;
}

.subtitle{
    font-size: 1.8rem;
    @extend .font-height-larger;
    color: var(--color-neutral-500);
    font-weight: 400;
}